<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

     <global-method-security pre-post-annotations="enabled">
        <!-- AspectJ pointcut expression that locates our "post" method and applies security that way
        <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
        -->
    </global-method-security>

    <http use-expressions="true"  access-denied-page="/admin/sorry.action">
    <!-- 权限类型

		("ROLE_ADMIN"));("ROLE_API"));("ROLE_EDITER"));("ROLE_ORDER"));
		("ROLE_REPORTER"));("ROLE_CHECKER"));("ROLE_COPYRIGHT"));("ROLE_EDITERIMG"));

     -->
    
        <!-- Disable web URI authorization, as we're using <global-method-security> and have @Secured the services layer instead
        <intercept-url pattern="/listAccounts.html" access="isRememberMe()" />
        <intercept-url pattern="/post.html" access="hasRole('ROLE_TELLER')" />
        ROLE_ADMIN,ROLE_MANAGER,ROLE_EDITER,ROLE_CHECKER
        -->
        
    
    
     <intercept-url pattern="/admin/s/**" access="hasAnyRole('ROLE_ADMIN')"  />
     
     <intercept-url pattern="/admin/index**" access="hasAnyRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_EDITER,ROLE_CHECKER,ROLE_SUPER')"  />
     <intercept-url pattern="/admin/comic**" access="hasAnyRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_EDITER')"  />
     <intercept-url pattern="/admin/media**" access="hasAnyRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_EDITER')"  />
     <intercept-url pattern="/admin/frame**" access="hasAnyRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_EDITER')"  />
     <intercept-url pattern="/admin/domain**" access="hasAnyRole('ROLE_ADMIN')"  />
     <intercept-url pattern="/admin/role**" access="hasAnyRole('ROLE_ADMIN')"  />
     <intercept-url pattern="/admin/manager**" access="hasAnyRole('ROLE_ADMIN,ROLE_MANAGER')"  />
     <intercept-url pattern="/admin/platform_pkg**" access="hasAnyRole('ROLE_ADMIN,ROLE_MANAGER')"  />
     <intercept-url pattern="/admin/platform**" access="hasAnyRole('ROLE_ADMIN')"  />
    

     
    
        <form-login login-page="/admin/login.action" authentication-failure-url="/admin/login.action?error=true" default-target-url="/admin/index.action" />  
       <logout logout-success-url="/admin/login.action"/>  
       
       
       


       
       <!--  <remember-me />  -->
<!--
    Uncomment to enable X509 client authentication support
        <x509 />
-->
        <!-- Uncomment to limit the number of sessions a user can have 
        <session-management invalid-session-url="/login.jsp">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
-->
    </http>


     <!-- 实现了UserDetailsService的Bean  --> 
   
     
    <authentication-manager alias="userServiceSecuritys">  
        <authentication-provider user-service-ref="userServiceSecurity" >  
        	<password-encoder ref="passwordEncoder">

        	</password-encoder>
        </authentication-provider>
    </authentication-manager>  

</beans:beans>
